.friends {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  list-style: none;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.friend {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  width: calc((100% - 60px) / 5);
}
