.table {
  width: 100%;
  margin-top: 30px;
  border: 1px solid black;
}

.head {
  background-color: rgb(48, 43, 43);
  color: aliceblue;
}

tr {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #919191;
}
